In [179]:
import pandas as pd
from sqlalchemy import create_engine

### Store Open Beer Database JSON into a DataFrame

In [209]:
json_file = "Resources/open-beer-database.json"
openbeer_df_original = pd.read_json(json_file)
openbeer_df_original.head()

,datasetid,fields,geometry,record_timestamp,recordid
0,open-beer-database@public-us,"{'website': 'http://www.michiganbrewing.com/',...","{'type': 'Point', 'coordinates': [-84.1946, 42...",2016-09-25T21:21:38.074-07:00,76ea1712b537ab0cf0cacb8265fbed3fc422fe46
1,open-beer-database@public-us,{'website': 'http://www.bigbuck.com/gaylord.ht...,"{'type': 'Point', 'coordinates': [-84.6826, 45...",2016-09-25T21:21:38.074-07:00,d63c8dcbf0e96f79a5b6b16b92e882dbe86db3a0
2,open-beer-database@public-us,"{'brewery_id': '879', 'city': 'Billings', 'nam...","{'type': 'Point', 'coordinates': [-108.506, 45...",2016-09-25T21:21:38.074-07:00,4e879b5db763b7e22c2029adaac8d886e8491bbe
3,open-beer-database@public-us,"{'brewery_id': '901', 'city': 'Papillion', 'na...","{'type': 'Point', 'coordinates': [-96.0307, 41...",2016-09-25T21:21:38.074-07:00,8731c6772b7401a87aad6ce9f48f8ad607158f89
4,open-beer-database@public-us,"{'brewery_id': '122', 'city': 'Missoula', 'nam...","{'type': 'Point', 'coordinates': [-114.073, 46...",2016-09-25T21:21:38.074-07:00,62a2774a7562163d8d4ab0db6640d9fc8ae4dad2

### Clean Open-Beer_Database DataFrame

In [210]:
#split column
new_openbeer_df_original = openbeer_df_original[["fields"]]
new_openbeer_df = pd.DataFrame(new_openbeer_df_original['fields'].values.tolist())

In [211]:
new_openbeer_df.columns

Index(['abv', 'add_user', 'address1', 'brewery_id', 'cat_id', 'cat_name',
       'city', 'coordinates', 'country', 'descript', 'filepath', 'ibu', 'id',
       'last_mod', 'name', 'name_breweries', 'srm', 'state', 'style_id',
       'style_name', 'upc', 'website'],
      dtype='object')

In [212]:
#clean unnecessary column
openbeer_df = new_openbeer_df[["id","name","abv","cat_id","cat_name","style_id",
                               "style_name","brewery_id","name_breweries","city",
                               "state","country","coordinates"]]
openbeer_df.head()

,id,name,abv,cat_id,cat_name,style_id,style_name,brewery_id,name_breweries,city,state,country,coordinates
0,4813,Celis Raspberry,3.9,5,Belgian and French Ale,72,Other Belgian-Style Ales,853,Michigan Brewing,Webberville,Michigan,United States,"[42.6616, -84.1946]"
1,4864,Buck Naked,3.2,8,North American Lager,96,American-Style Light Lager,114,Big Buck Brewery,Gaylord,Michigan,United States,"[45.0223, -84.6826]"
2,93,Fat Belly Amber,0.0,3,North American Ale,33,American-Style Amber/Red Ale,879,Montana Brewing,Billings,Montana,United States,"[45.7822, -108.506]"
3,98,Belgian Wit,0.0,-1,NaN,-1,NaN,901,Nebraska Brewing Company,Papillion,Nebraska,United States,"[41.1339, -96.0307]"
4,172,Crystal Ale,0.0,-1,NaN,-1,NaN,122,Big Sky Brewing,Missoula,Montana,United States,"[46.9223, -114.073]"

In [193]:
#drop repeat id 
openbeer_df.drop_duplicates(subset ="id", keep = False, inplace = True) 
# drop rows if id is not a number
ob_df=openbeer_df[openbeer_df['id'].apply(lambda x: str(x).isdigit())].reset_index(drop=True)
ob_df.head()

,id,name,abv,cat_id,cat_name,style_id,style_name,brewery_id,name_breweries,city,state,country,coordinates
0,4813,Celis Raspberry,3.9,5,Belgian and French Ale,72,Other Belgian-Style Ales,853,Michigan Brewing,Webberville,Michigan,United States,"[42.6616, -84.1946]"
1,4864,Buck Naked,3.2,8,North American Lager,96,American-Style Light Lager,114,Big Buck Brewery,Gaylord,Michigan,United States,"[45.0223, -84.6826]"
2,93,Fat Belly Amber,0.0,3,North American Ale,33,American-Style Amber/Red Ale,879,Montana Brewing,Billings,Montana,United States,"[45.7822, -108.506]"
3,172,Crystal Ale,0.0,-1,NaN,-1,NaN,122,Big Sky Brewing,Missoula,Montana,United States,"[46.9223, -114.073]"
4,477,Criminally Bad Elf,10.5,-1,NaN,-1,NaN,1056,Ridgeway Brewing,South Stoke,Oxford,United Kingdom,"[51.5462, -1.1355]"

In [214]:
# select beer made in US only
ob_us_df=ob_df[ob_df["country"]=="United States"]
ob_us_df.head()

,id,name,abv,cat_id,cat_name,style_id,style_name,brewery_id,name_breweries,city,state,country,coordinates
0,4813,Celis Raspberry,3.9,5,Belgian and French Ale,72,Other Belgian-Style Ales,853,Michigan Brewing,Webberville,Michigan,United States,"[42.6616, -84.1946]"
1,4864,Buck Naked,3.2,8,North American Lager,96,American-Style Light Lager,114,Big Buck Brewery,Gaylord,Michigan,United States,"[45.0223, -84.6826]"
2,93,Fat Belly Amber,0.0,3,North American Ale,33,American-Style Amber/Red Ale,879,Montana Brewing,Billings,Montana,United States,"[45.7822, -108.506]"
3,172,Crystal Ale,0.0,-1,NaN,-1,NaN,122,Big Sky Brewing,Missoula,Montana,United States,"[46.9223, -114.073]"
5,655,Bobby,0.0,-1,NaN,-1,NaN,935,Odell Brewing,Fort Collins,Colorado,United States,"[40.5894, -105.063]"

In [236]:
ob_us_df["name"].value_counts()

Pale Ale                      44
Porter                        26
India Pale Ale                23
Oktoberfest                   23
Hefeweizen                    23
Stout                         21
Oatmeal Stout                 20
IPA                           20
Pilsner                       18
Amber Ale                     18
Amber                         17
Nut Brown Ale                 14
ESB                           13
Imperial Stout                12
Wheat                          9
Red Ale                        8
Christmas Ale                  8
Red                            7
Barleywine                     7
KÃ¶lsch                        7
Maibock                        7
Nut Brown                      7
Bock                           6
Irish Stout                    6
Weizen                         6
Lager                          6
Brown Ale                      6
Scottish Ale                   6
Grand Cru                      5
Irish Red                      5
                              ..
Golden Wheat Light             1
Red Sky Amber Lager            1
Willow Wheat                   1
Old Foghorn 2006               1
Talon                          1
Cascazilla                     1
Artisan Saison                 1
Dry Heat Hefeweizen            1
Cocoa Porter                   1
Not Tonight Honey Porter       1
Old 55 Pale Ale                1
Nutty Brewnette                1
Double Paw                     1
Rye Squared                    1
Batch 666                      1
Celebration Ale 1992           1
Old English Ale                1
Baltic Thunder                 1
Stud Service Stout             1
Double Crooked Tree I.P.A.     1
Michelob Honey Lager           1
Mocha Joe                      1
Two-Hearted Ale                1
Saison Rue                     1
Kellerbier                     1
32 Inning Ale                  1
White Horse Hefeweizen         1
Long Trail Ale                 1
Winter Cheer                   1
Squirrel's Nut Brown           1
Name: name, Length: 3885, dtype: int64

### Store Beers CSV into DataFrame

In [103]:
csv_file = "Resources/beers.csv"
beers_df = pd.read_csv(csv_file)
beers_df.head()

,id,name,brewery_id,state,country,style,availability,abv,notes,retired
0,202522,Olde Cogitator,2199,CA,US,English Oatmeal Stout,Rotating,7.3,No notes at this time.,f
1,82352,Konrads Stout Russian Imperial Stout,18604,NaN,NO,Russian Imperial Stout,Rotating,10.4,No notes at this time.,f
2,214879,Scottish Right,44306,IN,US,Scottish Ale,Year-round,4.0,No notes at this time.,t
3,320009,MegaMeow Imperial Stout,4378,WA,US,American Imperial Stout,Winter,8.7,Every time this year,f
4,246438,Peaches-N-Cream,44617,PA,US,American Cream Ale,Rotating,5.1,No notes at this time.,f

### Clean Data

In [207]:
new_beers_df = beers_df[["id","name","brewery_id","state","country","style"]].copy()
#drop repeat id
new_beers_df.drop_duplicates(subset ="id", keep = False, inplace = True) 
#select US beer only
new_beers_us_df=new_beers_df[new_beers_df["country"]=="US"]
new_beers_us_df.head()
new_beers_us_df["name"].value_counts()

Oktoberfest                                        705
IPA                                                437
Hefeweizen                                         414
Pale Ale                                           402
Oatmeal Stout                                      389
Saison                                             274
Porter                                             265
Imperial Stout                                     220
ESB                                                219
Maibock                                            210
Double IPA                                         204
Brown Ale                                          203
Pumpkin Ale                                        195
Amber Ale                                          194
Pilsner                                            193
Black IPA                                          190
Kolsch                                             188
India Pale Ale                                     183
Cream Ale                                          161
Vienna Lager                                       159
Stout                                              151
Dunkelweizen                                       148
Baltic Porter                                      138
Session IPA                                        131
Irish Red                                          131
Berliner Weisse                                    130
Schwarzbier                                        130
Milk Stout                                         128
Scotch Ale                                         127
American Pale Ale                                  127
                                                  ...
Custer Kölsch                                        1
Batch 1,500                                          1
Cucumber Blessings                                   1
Passion of the Heights                               1
Fire Storm's                                         1
F-22 Raptor Double IPA                               1
Transatlantic IPA                                    1
Sweetwater Crank Tank Lager                          1
Old Venerable Double Wheat                           1
Dusselforf Brown                                     1
U.J.P.                                               1
Carriage Barn Series: Harvest Brown                  1
ESB (Extra Sexy Brewer)                              1
Prairie Limo Tint                                    1
Ein Stein                                            1
5 Roses: A Rick Astley Joint (Schwartz Edition)      1
HopCat Ignorant Pompus Arse                          1
Apricot Vieille                                      1
Punky                                                1
Cointelpro                                           1
Peachy Keen Cream Ale                                1
Watermelon Florida Weisse                            1
Firestone Private Label Amber Ale                    1
Magic Bear                                           1
Douchebag Jimmy                                      1
The One Percenter                                    1
The Defender American Stout                          1
Oolong Duck Dong                                     1
Hootenanny Harvest                                   1
Kabuki                                               1
Name: name, Length: 220705, dtype: int64

### Store Breweries CSV into DataFrame

In [101]:
csv_file = "Resources/breweries.csv"
breweries_df = pd.read_csv(csv_file)
breweries_df.head()

,id,name,city,state,country,notes,types
0,19730,Brouwerij Danny,Erpe-Mere,NaN,BE,No notes at this time.,Brewery
1,32541,Coachella Valley Brewing Co,Thousand Palms,CA,US,No notes at this time.,"Brewery, Bar, Beer-to-go"
2,44736,Beef 'O' Brady's,Plant City,FL,US,No notes at this time.,"Bar, Eatery"
3,23372,Broadway Wine Merchant,Oklahoma City,OK,US,No notes at this time.,Store
4,35328,Brighton Beer Dispensary (DUPLICATE),Brighton,GB2,GB,Duplicate of https://www.beeradvocate.com/beer...,"Bar, Eatery"

### Clean data

In [234]:
new_breweries_df =breweries_df[["id","name","city","state","country","types"]].copy()
#select US beer only
new_breweries_us_df=new_breweries_df[new_breweries_df["country"]=="US"]
new_breweries_us_df.

,id,name,city,state,country,types
1,32541,Coachella Valley Brewing Co,Thousand Palms,CA,US,"Brewery, Bar, Beer-to-go"
2,44736,Beef 'O' Brady's,Plant City,FL,US,"Bar, Eatery"
3,23372,Broadway Wine Merchant,Oklahoma City,OK,US,Store
5,31561,Teddy's Tavern,Seattle,WA,US,"Bar, Beer-to-go"
9,41278,The Other End,Destin,FL,US,"Bar, Eatery"
10,31711,Ten Bells Tavern,Dallas,TX,US,"Bar, Eatery"
11,12324,Bistro Europa / House Of Klaus,Alexandria,VA,US,Bar
14,45715,Angie's State Line Liquor Store,Enfield,CT,US,Store
17,47633,Redneck Gourmet,Newnan,GA,US,"Bar, Eatery"
18,31986,Power Marketing / Wicked Pissa,Westport,MA,US,Brewery
19,47464,Mahoney's Pub & Grille,Chicago,IL,US,"Bar, Eatery"
20,8590,Wet Planet Beverage Co.,Utica,NY,US,Brewery
23,53919,Amity Ales Brewpub and Eatery,Amityville,NY,US,"Brewery, Bar, Eatery"
24,17834,The Crêpe Place,Santa Cruz,CA,US,"Bar, Eatery"
25,17675,McCray's Tavern,Smyrna,GA,US,"Bar, Eatery"
26,28200,Express Stop,Bowling Green,OH,US,Store
27,48475,Springdale Barrel Room,Framingham,MA,US,"Brewery, Bar"
28,43654,Modist Brewing Co.,Minneapolis,MN,US,"Brewery, Bar, Beer-to-go"
31,48996,The Wandering Tortoise,Phoenix,AZ,US,"Bar, Beer-to-go"
32,26506,The Laser Wolf,Fort Lauderdale,FL,US,Bar
33,18640,The Kitchen,Boulder,CO,US,"Bar, Eatery"
34,18577,The Office Beer Bar & Grill,Cranford,NJ,US,"Bar, Eatery"
36,44530,Stop Time,Brooklyn,NY,US,Bar
38,30224,Momma Goldberg's Deli,Baton Rouge,LA,US,Eatery
39,40960,Ferguson's Bottles & Taps,Whitsett,NC,US,"Bar, Beer-to-go"
40,50893,Wedge at Foundation,Asheville,NC,US,"Brewery, Bar"
42,41466,8one8 Brewing (818),Canoga Park,CA,US,"Brewery, Beer-to-go"
43,19754,Brew Urban Cafe,Fort Lauderdale,FL,US,Bar
44,16931,Timor Bodega,Washington,DC,US,Store
45,24037,House Wine,Worthington,OH,US,Store
...,...,...,...,...,...,...
50306,1015,Red Car Brewery and Restaurant,Torrance,CA,US,"Brewery, Bar, Eatery"
50307,36480,Crystal Lake Brewing,Crystal Lake,IL,US,"Brewery, Bar, Beer-to-go"
50308,29208,The TapRoom,San Diego,CA,US,"Bar, Eatery"
50309,28074,Caps & Corks,Portland,OR,US,"Bar, Eatery, Beer-to-go"
50311,17820,The Pub,Pembroke Pines,FL,US,"Bar, Eatery"
50312,15574,Festival Wine & Spirits,Oshkosh,WI,US,Store
50314,13222,Trader Joe's - Brookline (501),Brookline,MA,US,Store
50315,15872,Bamber's Superette,South Bend,IN,US,Store
50316,11150,"Florida Brewery, Inc",Auburnville,FL,US,Brewery
50317,20831,Aces & Ales - Nellis,Las Vegas,NV,US,"Bar, Eatery, Beer-to-go"
50319,37132,Brigantessa,Philadelphia,PA,US,"Bar, Eatery"
50320,33458,Angry Dog,Dallas,TX,US,"Bar, Eatery"
50322,1665,Old Baldy Brewery,Upland,CA,US,"Brewery, Eatery"
50323,20114,Original Fat Cat's,Fort Lauderdale,FL,US,Bar
50324,22763,Good-Ta-Go,Chambersburg,PA,US,"Bar, Eatery, Beer-to-go"
50325,22154,Bertha's,Baltimore,MD,US,"Bar, Eatery"
50326,40915,Party Stop - 33rd & Bell,Amarillo,TX,US,Store
50327,41031,Mumford Brewing,Los Angeles,CA,US,"Brewery, Bar, Beer-to-go"
50328,31170,Eventide Oyster Co.,Portland,ME,US,"Bar, Eatery"
50330,20338,Harris Teeter,Kernersville,NC,US,Store
50331,47771,Baker Street Pub & Grill,Austin,TX,US,"Bar, Eatery"
50332,39254,Pete's Olde Towne Bar & Grill,New Cumberland,PA,US,"Bar, Eatery, Beer-to-go"
50333,39433,Bog Water Brewing Co.,Westport,WA,US,"Brewery, Bar, Eatery"
50335,39908,Old Town Pub & Grub,Temecula,CA,US,"Bar, Eatery"
50336,931,Pacific Rim Brewing Co.,Seattle,WA,US,Brewery
50338,3124,Abington Ale House & Grille,Abington,MA,US,"Bar, Eatery"
50339,30980,Zipline Brewing Co,Lincoln,NE,US,"Brewery, Bar, Beer-to-go"
50341,24375,The Copper Kettle,Soldotna,AK,US,Homebrew
50345,20047,Forest City Wines & Spirits,Middletown,CT,US,Store
50346,13986,Landmark Beer Company,Syracuse,NY,US,Brewery

### Create new data with select columns

In [215]:
obname=set(ob_us_df["name"])
beer_name=set(new_beers_us_df["name"])

In [219]:
#obname.intersection(beer_name)

In [237]:
ob_us_df_select=pd.merge(ob_us_df,new_beers_us_df, on="id", how="outer")
#ob_us_df_select = ob_us_df_select.drop_duplicates(subset="name",keep="first")
#ob_us_df_select = ob_us_df_select[["name"]]

ValueError: You are trying to merge on object and int64 columns. If you wish to proceed you should use pd.concat

In [233]:
ob_us_df_select

,id_x,name,abv,cat_id,cat_name,style_id,style_name,brewery_id_x,name_breweries,city,state_x,country_x,coordinates,id_y,brewery_id_y,state_y,country_y,style
0,4813,Celis Raspberry,3.9,5,Belgian and French Ale,72,Other Belgian-Style Ales,853,Michigan Brewing,Webberville,Michigan,United States,"[42.6616, -84.1946]",11772.0,565.0,MI,US,Fruit and Field Beer
1,4813,Celis Raspberry,3.9,5,Belgian and French Ale,72,Other Belgian-Style Ales,853,Michigan Brewing,Webberville,Michigan,United States,"[42.6616, -84.1946]",340180.0,49549.0,TX,US,Belgian Witbier
2,4864,Buck Naked,3.2,8,North American Lager,96,American-Style Light Lager,114,Big Buck Brewery,Gaylord,Michigan,United States,"[45.0223, -84.6826]",363469.0,29278.0,PA,US,American Cream Ale
3,4864,Buck Naked,3.2,8,North American Lager,96,American-Style Light Lager,114,Big Buck Brewery,Gaylord,Michigan,United States,"[45.0223, -84.6826]",181740.0,29278.0,PA,US,American Pale Ale (APA)
4,4864,Buck Naked,3.2,8,North American Lager,96,American-Style Light Lager,114,Big Buck Brewery,Gaylord,Michigan,United States,"[45.0223, -84.6826]",61449.0,5077.0,OR,US,American Brown Ale
5,93,Fat Belly Amber,0.0,3,North American Ale,33,American-Style Amber/Red Ale,879,Montana Brewing,Billings,Montana,United States,"[45.7822, -108.506]",20960.0,999.0,MT,US,English Dark Mild Ale
6,172,Crystal Ale,0.0,-1,NaN,-1,NaN,122,Big Sky Brewing,Missoula,Montana,United States,"[46.9223, -114.073]",17699.0,751.0,MT,US,German Kölsch
7,172,Crystal Ale,0.0,-1,NaN,-1,NaN,122,Big Sky Brewing,Missoula,Montana,United States,"[46.9223, -114.073]",11515.0,2104.0,NaN,US,German Kölsch
8,655,Bobby,0.0,-1,NaN,-1,NaN,935,Odell Brewing,Fort Collins,Colorado,United States,"[40.5894, -105.063]",268461.0,45814.0,CT,US,American IPA
9,655,Bobby,0.0,-1,NaN,-1,NaN,935,Odell Brewing,Fort Collins,Colorado,United States,"[40.5894, -105.063]",4335.0,267.0,CO,US,German Kölsch
10,1406,Pale Ale,0.0,3,North American Ale,26,American-Style Pale Ale,932,Oasis Brewery and Restaurant,Boulder,Colorado,United States,"[40.015, -105.271]",328132.0,47863.0,OH,US,American Pale Ale (APA)
11,1406,Pale Ale,0.0,3,North American Ale,26,American-Style Pale Ale,932,Oasis Brewery and Restaurant,Boulder,Colorado,United States,"[40.015, -105.271]",280600.0,45647.0,TX,US,American Pale Ale (APA)
12,1406,Pale Ale,0.0,3,North American Ale,26,American-Style Pale Ale,932,Oasis Brewery and Restaurant,Boulder,Colorado,United States,"[40.015, -105.271]",94503.0,26950.0,PA,US,American Pale Ale (APA)
13,1406,Pale Ale,0.0,3,North American Ale,26,American-Style Pale Ale,932,Oasis Brewery and Restaurant,Boulder,Colorado,United States,"[40.015, -105.271]",176954.0,40217.0,TX,US,American Pale Ale (APA)
14,1406,Pale Ale,0.0,3,North American Ale,26,American-Style Pale Ale,932,Oasis Brewery and Restaurant,Boulder,Colorado,United States,"[40.015, -105.271]",5939.0,1299.0,VA,US,American Pale Ale (APA)
15,1406,Pale Ale,0.0,3,North American Ale,26,American-Style Pale Ale,932,Oasis Brewery and Restaurant,Boulder,Colorado,United States,"[40.015, -105.271]",87.0,147.0,CA,US,American Pale Ale (APA)
16,1406,Pale Ale,0.0,3,North American Ale,26,American-Style Pale Ale,932,Oasis Brewery and Restaurant,Boulder,Colorado,United States,"[40.015, -105.271]",12170.0,6313.0,CA,US,American Pale Ale (APA)
17,1406,Pale Ale,0.0,3,North American Ale,26,American-Style Pale Ale,932,Oasis Brewery and Restaurant,Boulder,Colorado,United States,"[40.015, -105.271]",207204.0,710.0,WI,US,American Pale Ale (APA)
18,1406,Pale Ale,0.0,3,North American Ale,26,American-Style Pale Ale,932,Oasis Brewery and Restaurant,Boulder,Colorado,United States,"[40.015, -105.271]",2708.0,764.0,NY,US,American Pale Ale (APA)
19,1406,Pale Ale,0.0,3,North American Ale,26,American-Style Pale Ale,932,Oasis Brewery and Restaurant,Boulder,Colorado,United States,"[40.015, -105.271]",329717.0,49155.0,HI,US,American Pale Ale (APA)
20,1406,Pale Ale,0.0,3,North American Ale,26,American-Style Pale Ale,932,Oasis Brewery and Restaurant,Boulder,Colorado,United States,"[40.015, -105.271]",318004.0,3798.0,NM,US,American Pale Ale (APA)
21,1406,Pale Ale,0.0,3,North American Ale,26,American-Style Pale Ale,932,Oasis Brewery and Restaurant,Boulder,Colorado,United States,"[40.015, -105.271]",153539.0,35182.0,ID,US,American Pale Ale (APA)
22,1406,Pale Ale,0.0,3,North American Ale,26,American-Style Pale Ale,932,Oasis Brewery and Restaurant,Boulder,Colorado,United States,"[40.015, -105.271]",1962.0,567.0,WA,US,American Pale Ale (APA)
23,1406,Pale Ale,0.0,3,North American Ale,26,American-Style Pale Ale,932,Oasis Brewery and Restaurant,Boulder,Colorado,United States,"[40.015, -105.271]",31446.0,14179.0,MO,US,American Pale Ale (APA)
24,1406,Pale Ale,0.0,3,North American Ale,26,American-Style Pale Ale,932,Oasis Brewery and Restaurant,Boulder,Colorado,United States,"[40.015, -105.271]",274402.0,47673.0,NY,US,American Pale Ale (APA)
25,1406,Pale Ale,0.0,3,North American Ale,26,American-Style Pale Ale,932,Oasis Brewery and Restaurant,Boulder,Colorado,United States,"[40.015, -105.271]",309460.0,50836.0,VA,US,American Pale Ale (APA)
26,1406,Pale Ale,0.0,3,North American Ale,26,American-Style Pale Ale,932,Oasis Brewery and Restaurant,Boulder,Colorado,United States,"[40.015, -105.271]",299084.0,50294.0,WA,US,American Pale Ale (APA)
27,1406,Pale Ale,0.0,3,North American Ale,26,American-Style Pale Ale,932,Oasis Brewery and Restaurant,Boulder,Colorado,United States,"[40.015, -105.271]",26420.0,11715.0,PA,US,American Pale Ale (APA)
28,1406,Pale Ale,0.0,3,North American Ale,26,American-Style Pale Ale,932,Oasis Brewery and Restaurant,Boulder,Colorado,United States,"[40.015, -105.271]",25656.0,9020.0,TN,US,American Pale Ale (APA)
29,1406,Pale Ale,0.0,3,North American Ale,26,American-Style Pale Ale,932,Oasis Brewery and Restaurant,Boulder,Colorado,United States,"[40.015, -105.271]",27964.0,11580.0,CA,US,Belgian Pale Ale
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
370491,NaN,Bellodrama,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,231497.0,41428.0,CO,US,German Kölsch
370492,NaN,Untitled Art / Forager Brewing - Florida Weisse,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,292515.0,47802.0,WI,US,Berliner Weisse
370493,NaN,Stout Constitution,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,218523.0,44028.0,NE,US,American Stout
370494,NaN,Double Dry Hopped Tendril,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,267957.0,33482.0,RI,US,American IPA
370495,NaN,A Page From Camus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,154296.0,28019.0,CA,US,Belgian Pale Ale
370496,NaN,Duality #3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,279735.0,32931.0,CA,US,American Pale Ale (APA)
370497,NaN,Wake Up And Smell The Coffee (Nitro),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,274810.0,41170.0,NJ,US,American Stout
370498,NaN,Mounds Tiramisu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,222927.0,37910.0,VA,US,American Imperial Stout
370499,NaN,Alton Bruin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,183563.0,16873.0,OR,US,Belgian Strong Dark Ale
370500,NaN,Kash Money,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,268773.0,31515.0,ME,US,American IPA
370501,NaN,Heather Wood,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,240765.0,1513.0,OH,US,Herb and Spice Beer
370502,NaN,Lupulor Calypso,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,287004.0,45869.0,IL,US,American Imperial IPA
370503,NaN,Scottish Mild,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,344035.0,49830.0,IL,US,English Dark Mild Ale
370504,NaN,Ceraveza de Promenade,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,356520.0,34416.0,WA,US,American Amber / Red Lager
370505,NaN,Mandarin Dreams,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,319005.0,50037.0,FL,US,American Pale Wheat Ale
370506,NaN,Out of hoptions,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,317611.0,47738.0,FL,US,American IPA
370507,NaN,Bar J Black Ale,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,169208.0,40209.0,MN,US,American Black Ale
370508,NaN,Kind Intentions Dry-Hopped American Mild,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,225277.0,41849.0,VA,US,English Pale Mild Ale
370509,NaN,Batch #017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,323146.0,38054.0,OH,US,American IPA
370510,NaN,Anniversary Baltic Porter,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,196378.0,30492.0,NM,US,Baltic Porter
370511,NaN,Goldy Golden Ale,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,343772.0,29442.0,MN,US,American Blonde Ale
370512,NaN,Tasty Pig IPA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,339481.0,49641.0,FL,US,American IPA
370513,NaN,Mo’ Oats Mo’ Problems,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,360048.0,36428.0,CA,US,English Oatmeal Stout
370514,NaN,Turbid #2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,271967.0,32908.0,FL,US,American IPA
370515,NaN,Miracle of Weird,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,323062.0,41542.0,PA,US,American Imperial IPA
370516,NaN,Anti-Villain Saison,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,279488.0,47686.0,CA,US,Belgian Saison
370517,NaN,Old Fellowship Barleywine,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,208152.0,41966.0,OR,US,American Barleywine
370518,NaN,Hop! Or My Mom Will Shoot,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,168135.0,26850.0,KY,US,American IPA
370519,NaN,Brewers Select #019 High Pressure Lager,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,258269.0,28281.0,WA,US,American Lager
370520,NaN,Rumble Fish,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,283124.0,29238.0,MI,US,American Imperial IPA